@{
    ViewBag.Title = "NewInv";
}

<div class="row">
    <div class="col-xs-12">
        <h2>New Inventory</h2>
        <p>
            Here you can search for a listing that meets your needs.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form id="quickSearch" class="form-inline">
            <div class="form-group">
                <label for="quickSearch">Quick Search</label><br />
                <input type="text" class="form-control" id="minRate">
                <!--Ajax Friendly-->
                <select class="form-control" id="YearId">
                    @for (decimal year = 2000; year <= DateTime.Now.Year + 1; year += 1)
                    {
                        <option value="@(year / 500)" selected="@(year  == DateTime.Now.Year)">@year</option>
                    }
                </select>
                <!--Ajax Friendly-->
                <select class="form-control" id="CostId">
                    @for (decimal cost = 500; cost <= 2500; cost += 250)
                    {
                        <option value="@(cost / 500)" selected="@(cost  == 1000)">@cost</option>
                    }
                </select>
                <button id="btnSearch" class="btn btn-default">Search</button>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div id="searchResults" class="col-xs-12">

    </div>
</div>